#!/usr/bin/env bash

## Required:
HOSTNAME=cloud-init-sample
BASE_IMG=trusty-server-cloudimg-amd64-disk1.img


## Optional:

# The libvirt storage pool to use
# Default: default
#POOL_NAME=default
#POOL_NAME=vm_pool_0

# The full path of the storage pool
# Default: $( virsh pool-dumpxml $POOL_NAME | xmllint --xpath '//target/path/text()' - | head -n 1 )
#POOL_PATH=/mnt/vm_pool_0

#RAM=1024
#VCPUS=1
