#!/usr/bin/env bash

## Required:
BASE_IMG=trusty-server-cloudimg-amd64-disk1.img

## Optional:

## RAM allocation:
## Default: 1024M
#RAM=1024

## CPU allocation:
## Default: 1
#VCPUS=1

## Disk size:
## Default provided by base image
#DISK=2G

## The libvirt storage pool to use
## Default: default
#POOL_NAME=default

## The full path of the storage pool
## Default: Scraped from `virsh pool-dumpxml $POOL_NAME`
#POOL_PATH=/mnt/vm_pool_0

